.main{
    padding-top: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title{
        font-size: 46px;
        text-align: center;
        span{
            font-weight: 700;
        }
    }
    &__subtitle{
        font-size: 14px;
        color: rgba(0,0,0,.58);
        margin-bottom: 30px;
    }
    &__form{
        width: 100%;
        input, textarea{
            width: 100%;
            border: none;
            background-color: #ECF0F1;
            border-radius: 10px;
            font-family: 'SegoePrint';
            padding: 7px 20px;
            margin-bottom: 23px;
            outline: none;
        }
        textarea{
            resize: none;
            margin-bottom: 29px;
            min-height: 173px;
        }
    }
    &__btn{
        width: 100%;
        color: #fff;
        font-size: 14px;
        background-color: #5BB2C6;
        border-radius: 10px;
        padding: 6px 92px;
        border: none;
        font-family: 'SegoePrint';
        outline: none;
    }
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    span{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 50px;
        height: 50px;
        &::before, &::after{
            box-sizing: border-box;
            content: '';
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: rotate(0deg);
            border: 5px solid #00A8CE;
        }
        &::before{
            opacity: .3;
        }
        &::after{
            border-right-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            z-index: 3;
            animation: rotate .5s linear infinite;
        }
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}